body {
  margin: 1%;
  text-align: justify;
  font-size: small;
  font-family: OpenSans;
  line-height: 1.75;
}
code { 
  font-family: monospace; 
  background-color: #f6f8fa;
  font-size: 0.90em;
  display: block;
  padding: 10px;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

h1 { text-align: left; color: #333; }
h2 { text-align: left; color: #555; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
}
h1.title { }
h2.author { }
h3.date { }
ol.toc { padding: 0; margin-left: 1em; }
ol.toc li { list-style-type: none; margin: 0; padding: 0; }
